body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

form {
    /* border: 2px solid red; */

    text-align: center;
}

label {
    border: 2px solid green;


}

input, textarea {
    /* border: 2px solid blue; */

    width: 30%;
    height: 5vh;
    margin: 5px;
    /* border-radius: 20px / 20px; */
    padding: 5px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

#submit {
    background-color: rgb(255, 183, 49);
    border: 1px solid black;
    font-size: large;
    color: black;
}

#submit:hover {
    background-color: rgb(252, 164, 0);
}

@media screen and (width <= 1080px)  { 
    input, textarea {
        width: 50vh;
        max-width: 95%;
        margin: 10px;
        height: 10vh;
        
    }
}

