header img {
    height: 130px;
    float: left;
}

header h1 {
    position: absolute;
    left: 180px;
    top: 20px;
    /* font-family: "Playwrite HR Lijeva"; */
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    /* border: 2px solid red; */
}

a {
    text-decoration: none;
    color: black;
}

#nav {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    top: 40px;
    right: 30%;
}

#nav a {
    margin: 20px;
    font-size: 1.5rem;
}

#nav a:hover {
    text-decoration: underline;
}

#order {
    height: 120px;
    width: 300px;
    position: absolute;
    right: 0px;
    border: 2px solid red; /*debug*/
    background-color: yellow;
    box-sizing: border-box;
    text-align: center;
}

#order:hover {
    filter: brightness(0.8);
}

#order a {
    font-size: 3rem;
    position: relative;
    top: 25px;
    padding: 45px;
}

header {
    /* background-color: gray; */
    height: 120px;
    text-align: center;
    position: sticky;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid red; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 5px 2%;
}

form {
    /* border: 2px solid red; */
    position: relative;
    text-align: center;
    z-index: 25;
}

label {
    border: 2px solid green;


}

input, textarea {
    /* border: 2px solid blue; */

    width: 30%;
    height: 5vh;
    margin: 5px;
    /* border-radius: 20px / 20px; */
    padding: 5px;
    box-sizing: border-box;
    font-size: 2vh;
}

textarea {
    resize: none;
}

#submit {
    background-color: rgb(255, 183, 49);
    border: 1px solid black;
    font-size: large;
    color: black;
}

#submit:hover {
    background-color: rgb(252, 164, 0);
}

#menu {
    display: none;
}



@media screen and  (width < 1000px) { 
    input, textarea, #submit {
        width: 50vh;
        max-width: 95%;
        margin: 10px;
        height: 10vh;
        font-size: 3vh;
    }

    #nav, #order {
        display: none;
    }

    #menu {
        display: block;
    }

    #menu img {
        height: 45px;
        position: fixed;
        top: 35px;
        left: 5%;
    }

    header img {
        height: 90px;
        position: relative;
        left: 60px;
        top: 10px;
    }

    header h1 {
        top: 0px;
    }
}

